:root {
  --orange: #fe7613;
  --white: #ffffff;
  --light-grey: #818994;
  --medium-grey: #262f38;
  --dark-blue: #1e252f;
  --very-dark-blue: #141519;
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  margin: 0;
  padding: 0;
}

.raiting-block {
  color: var(--light-grey);
  background-color: var(--dark-blue);
  background: radial-gradient(
    circle at top,
    var(--medium-grey) 0%,
    var(--dark-blue) 60%
  );
  margin: 195px auto;
  width: 415px;
  padding: 117px 33px 33px;
  border-radius: 30px;
  position: relative;
}

.raiting-block::before {
  content: "";
  display: block;
  background-color: var(--medium-grey);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 33px;
  border-radius: 50%;
  background-image: url(images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.raiting-title {
  color: var(--white);
  margin: 0;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.raiting-text {
  line-height: 1.4rem;
  margin-bottom: 30px;
}

.raiting-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.raiting-item {
  background-color: var(--medium-grey);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.raiting-item:hover,
.raiting-items .active:hover {
  background-color: var(--orange);
  color: var(--white);
}

.raiting-items .active {
  background-color: var(--light-grey);
  color: var(--white);
}

.raiting-btn {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  width: 340px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.raiting-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
