@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-violet-shadow: hsl(272deg 34% 42%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --title: #211f37;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue));
}

.faq-wrap {
  min-width: 100vw;
  min-height: 95vh;
  padding: 148px 24px 0px;
}

.faq-block {
  min-width: 100%;
  max-width: 920px;
  background-color: var(--light-grayish-blue);
  border-radius: 20px;
  padding: 130px 24px 38px;
  -webkit-box-shadow: 0px 23px 35px -11px var(--soft-violet-shadow);
  -moz-box-shadow: 0px 23px 35px -11px var(--soft-violet-shadow);
  box-shadow: 0px 23px 35px -11px var(--soft-violet-shadow);
  color: var(--very-dark-desaturated-blue);
  position: relative;
}

.faq-img {
  position: absolute;
  width: 198px;
  height: auto;
  left: 50%;
  top: -90px;
  transform: translateX(-50%);
}

.faq-img::before {
  content: "";
  display: block;
  width: 198px;
  height: 91px;
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  bottom: -28px;
  z-index: -1;
}

.faq-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--title);
  margin-bottom: 20px;
}

.faq-list {
  list-style: none;
}

.faq-item {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.question {
  padding: 20px 0;
  position: relative;
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
}

.question::before {
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  background-image: url(images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s;
}

.question.active {
  font-weight: 700;
  color: var(--title);
}

.question.active::before {
  transform: translateY(-50%) rotate(180deg);
}

.question.active + .answer {
  display: block;
}

.answer {
  display: none;
  margin-bottom: 20px;

  color: var(--dark-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
